body {
    font-family: "roboto-regular", sans-serif, serif;
  }
  
  main {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  main > form > label,
  input,
  textarea,
  .operations {
    display: block;
    margin-bottom: 10px;
    font-family: inherit;
  }
  
  main form .operations button {
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .convert {
    color: white;
    background-color: #817d7d;
    border: 2px solid #ffffff;
  }
  
  .reset {
    color: white;
    background-color: #817d7d;
    border: 2px solid #ffffff;
  }
  
  .reverse {
    color: white;
    background-color: #817d7d;
    border: 2px solid #ffffff;
  }
  
  .convert:hover {
    border: 2px solid #817d7d;
    color: #817d7d;
    background-color: rgb(182, 176, 176);
  }
  
  .reset:hover {
    border: 2px solid #817d7d;
    color: #817d7d;
    background-color: rgb(199, 192, 192);
  }
  
  .reverse:hover {
    border: 2px solid #817d7d;
    color: #817d7d;
    background-color: rgb(187, 179, 179);
  }
  
  .guidelines {
    max-width: 800px;
    background-color: rgb(139, 135, 135);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  #err_msg {
    font-size: 12px;
    color: #817d7d;
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 4px;
    display: none;
  }
  
  .error {
    margin-bottom: 0px;
    border: 2px solid rgb(172, 163, 163);
  }
  
  .msg_show {
    display: inline-block !important;
  }